# Criar um requirements.txt limpo
@"
streamlit
streamlit-authenticator
pandas
PyYAML
Pillow
PyMuPDF
icecream
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
"@ | Out-File -FilePath requirements.txt -Encoding UTF8